@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ApplicationUser

@{
    ViewData["Title"] = "List Users";
}

<div class="mt-5 BMCA_sitecard" style="padding-bottom: calc(15px + (100vw - 700px) * (15 - 30) / (700 - 1000)">
    <a class="bi bi-chevron-left BMCA_back" style="margin-top: 5px; margin-left: 5px" href="/Users/Show/@MyUserManager.GetUserId(User)"></a>
    <div class="mt-2" style="text-align:center">
        <h1 style="margin:0 20px">@ViewData["Title"]</h1>
    </div>
    <hr />
    <div>
        @if (ViewBag.TempMsg != null)
        {
            <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.TempMsg</h2>
            <br />
        }

        @foreach (ApplicationUser _Elem in ViewBag.Users)
        {
            @Html.Partial("UserCard", _Elem)
        }
    </div>
</div>

