@using BMCA.Models

@model ApplicationUser

@{
    ViewData["Title"] = "List Users";
}

<h1>@ViewData["Title"]</h1>

<br />

@if (ViewBag.TempMsg != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.TempMsg</h2>
}

<br />

@foreach (ApplicationUser _Elem in ViewBag.Users)
{
    <div class="card">
        <h1>@_Elem.UserName</h1>
        <form action="/Users/Delete/@_Elem.Id" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
}
