@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ApplicationUser

@{
    ViewData["Title"] = Model.UserName;
}

<div class="mt-5" style="display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr;">
    <div>
        <div class="d-flex justify-content-between">
            <h5>Chats</h5>
            <a class="bi bi-plus-circle" style="color: white" href="/Channels/New"></a>
        </div>
        <div>
            <form action="/Users/Show/@Model.Id" method="get">
                @Html.TextBox("_Search")
                <button type="submit">Search</button>
            </form>
        </div>
        <hr / class="mt-0">

        <div class="d-inline-block">
            @foreach (BMCA.Models.Channel _Channel in ViewBag.UserChannels)
            {
                @Html.Partial("ChannelButton", _Channel)
            }
        </div>
    </div>
    <div>
        <h1 class="text-center mb-4">@Model.UserName</h1>
        <div class="text-center">
            @if (User.IsInRole("Admin"))
            {
                <a class="btn BMCA_btn" style="font-size: 15px; margin: 0 10px" href="/Users/List">List Users</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <a class="btn BMCA_btn" style="font-size: 15px; margin: 0 10px" href="/Categories/List">List Categories</a>
            }
        </div>
    </div>
</div>
<script>
    var buttons = document.getElementsByClassName("BMCA_btn");
    var userId = @MyUserManager.GetUserId(User);
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function () {
            window.location.href = "User/Show/" + userId + this.innerHTML;
        });
    }
</script>
