@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ApplicationUser

@{
    ViewData["Title"] = Model.UserName;
}

<div style="display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr;">
    <div>
        <p>Find the channel that you want to access!</p>

        <a href="/Channels/New">Create a new channel!</a>

        <br />
        <br />

        @foreach (BMCA.Models.Channel _Channel in ViewBag.UserChannels)
        {
            @Html.Partial("ChannelButton", _Channel)
        }

    </div>
    <div>

        <h1>@Model.UserName</h1>
        @if (User.IsInRole("Admin"))
        {
            <a href="/Users/List">List Users</a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a href="/Categories/List">List Categories</a>
        }
    </div>
</div>
<script>
    var buttons = document.getElementsByClassName("BMCA_btn");
    var userId = @MyUserManager.GetUserId(User);
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function () {
            window.location.href = "User/Show/" + userId + this.innerHTML;
        });
    }
</script>
