@using BMCA.Models

@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<div class="mt-5 BMCA_sitecard" style="padding-bottom: calc(15px + (100vw - 700px) * (15 - 30) / (700 - 1000)">
    <a class="bi bi-chevron-left BMCA_back" style="margin-top: 5px; margin-left: 5px" href="/Categories/List"></a>
    <div class="mt-2" style="text-align:center">
        <h1 style="margin:0 20px">@ViewData["Title"]</h1>
    </div>

    <hr />

    <div style="text-align:center">
        <form action="/Categories/Edit/@Model.ID" method="post">
            @Html.Label("Name", "Name: ")
            @Html.Editor("Name")
            @Html.ValidationMessage("Name")

            <br />
            <br />

            <button class="btn BMCA_btn" style="font-size:20px;" type="submit">Done</button>
        </form>
    </div>
</div>
