@using BMCA.Models

@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>@ViewData["Title"]</h1>

<br />

<a href="/Categories/List">Back</a>

<form action="/Categories/Edit/@Model.ID" method="post">
    @Html.Label("Name", "Name: ")
    @Html.Editor("Name")
    @Html.ValidationMessage("Name")
    <button type="submit">Done</button>
</form>
