@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Category

@{
    ViewData["Title"] = "List Categories";
}

<h1>@ViewData["Title"]</h1>

<br />

@if (ViewBag.TempMsg != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.TempMsg</h2>
}

<a href="/Users/Show/@MyUserManager.GetUserId(User)">Back</a>

<br />

<a href="/Categories/New">New</a>

@foreach (Category _Elem in ViewBag.Categories)
{
    <div class="card" style="background: black;">
        <h2>@_Elem.Name</h2>
        <a href="/Categories/Edit/@_Elem.ID">Edit</a>
        <form action="/Categories/Delete/@_Elem.ID" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
}
