@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Category

@{
    ViewData["Title"] = "List Categories";
}

<div class="mt-5 BMCA_sitecard">
    <a class="bi bi-chevron-left BMCA_back" style="margin-top: 5px; margin-left: 5px;" href="/Users/Show/@MyUserManager.GetUserId(User)"></a>
    <div class="d-flex justify-content-between mt-2" style="margin: 0 20px">
        <h1 style="margin:0 20px">@ViewData["Title"]</h1>
        <a class="bi bi-plus-circle" style="font-size:30px"href="/Categories/New"></a>
    </div>

    @if (ViewBag.TempMsg != null)
    {
        <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.TempMsg</h2>
    }

    <hr />

    @foreach (Category _Elem in ViewBag.Categories)
    {
        <div class="card m-3 p-4" style="background: #292558;">
            <h2 class="mb-0">@_Elem.Name</h2>
            <hr>
            <div class="d-flex justify-content-start">
                <a class="btn BMCA_btn" style="font-size: 15px; margin-right: 5px;" href="/Categories/Edit/@_Elem.ID">Edit</a>
                <form action="/Categories/Delete/@_Elem.ID" method="post">
                    <button class="btn BMCA_btn" style="font-size: 15px" type="submit">Delete</button>
                </form>
            </div>
        </div>
    }
</div>
