@using BMCA.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Channel

<div style="display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr;">
    <div>
        <p>Find the channel that you want to access!</p>

        <a href="/Channels/New">Create a new channel!</a>

        <br />
        <br />

        @foreach (BMCA.Models.Channel _Channel in ViewBag.UserChannels)
        {
            @Html.Partial("ChannelButton", _Channel)
        }

    </div>
    <div>
        <div>
            <h1>@Model.Name</h1>
        </div>
        <div>
            @foreach (Message _Message in Model.Messages)
            {
                if (_Message.UserId == MyUserManager.GetUserId(User))
                {
                    <p>@_Message.Content</p>
                }
                else
                {
                    <p>@_Message.Content</p>
                }
            }
        </div>
    </div>
</div>
