@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirm your account";
    ViewData["BodyClass"] = "custom-body-class";
    ViewData["BodyStyle"] = "background: linear-gradient(to bottom, #161235, #242050, #24243e);";
}


<div class="card row BMCA_card mt-5" style="height: 50vh">
    <section>
        <h1 class="text-center mt-5">@ViewData["Title"]</h1>
        <hr />
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p class="text-center mt-5">
                    To confirm your account, please click the link: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirm your account</a>
                </p>
            }
            else
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
    </section>
</div>
