.BMCA-style {
    background-color: #473388;
    color: white;
    font-size: 30px;
}

.BMCA-style:hover {
    background-color: #573B8A;
    color: white;
}

.BMCA-style:active {
    background-color: #473388;
    color: white;
    border-color: transparent;
}

.login {
    margin: 0 150px;
    background-color: transparent;
    height: 50vh;
    padding: 0;
}

.input-login {
    background-color: #2f2159;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
}

.info-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(47, 33, 89);
    box-shadow: 0 26px 42px rgb(38, 27, 72);
    border-radius: 20px 0px 0px 20px;
    color: white;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

}

@media (max-width: 770px) {
    .info-login {
        border-radius: 20px 20px 0px 0px;
    }

    .input-login {
        border-radius: 0px 0px 20px 20px;
    }

    .login {
        margin: 0 0; 
    }

    .user_photo {
        display: none;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #151515; 
    color: white;
    margin-bottom: 60px;
}
