.BMCA_btn {
    background-color: #473388;
    color: white;
    font-size: 30px;
}

    .BMCA_btn:hover {
        background-color: #573B8A;
        color: white;
    }

    .BMCA_btn:active {
        background-color: #473388;
        border-color: transparent;
    }

.BMCA_card {
    margin: 0 150px;
    background-color: #2f2159;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 26px 42px rgb(38, 27, 72);
}

.BMCA_chat {
    background-color: #292558;
    border: 1px solid #1f163b;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 1px 0px;
}

.BMCA_chat:hover {
    background-color: #353164;
    color: white;
}

.BMCA_sitecard {
    margin: 0 50px;
    background-color: #242050;
    padding: 0;
    box-shadow: 0 26px 42px rgb(38, 27, 72);
}

.BMCA_subcard {
    background-color: #2f2159;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BMCA_form {
    color: black;
    margin: 0 100px;
}

.BMCA_back {
    margin-right: auto;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 770px) {
    .BMCA_card {
        margin: 0 0;
        padding: 14px;
    }

    .BMCA_subcard {
        margin: 0 0;
    }

    .BMCA_form {
        margin: 0 25px;
    }

    .user_photo {
        display: none;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #151515;
    color: white;
    margin-bottom: 60px;
}

a {
    color: white
}
