.BMCA-style {
    background-color: #4c004c;
    color: white;
    font-size: 30px;
}

.BMCA-style:hover {
    background-color: #660066;
    color: white;
}

.BMCA-style:active {
    background-color: #4c004c;
    color: white;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
