@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div>
        <div class="mb-5 d-flex justify-content-center align-content-center">
            <a class="BMCA-style btn btn-block" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </div>

        <div class="mb-5 d-flex justify-content-center align-content-center">
            <a class="BMCA-style btn btn-block" asp-area="Identity" asp-page="/Account/Register">Sign in</a>
        </div>
    </div>
</div>