@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row mt-3">
    <div>
        <div class="mb-4 d-flex justify-content-center align-content-center">
            <a class="BMCA_btn btn btn-block" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </div>
        <div class="mb-3 d-flex justify-content-center align-content-center">
            <a class="BMCA_btn btn btn-block" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        </div>
    </div>
</div>