@model BMCA.Models.Channel

<a href="/Channels/Show/@Model.ID">
    <div class="mb-3 d-flex justify-content-start BMCA_chat">
        <i class="bi bi-chat "></i>
        <p>@Model.Name</p>
    </div>
</a>
