@model BMCA.Models.Channel

<a href="/Channels/Show/@Model.ID" style="text-decoration: none">
    <div class="d-flex justify-content-start BMCA_chat">
        <i class="bi bi-chat" style="margin-right: 10px"></i>
        <p>@Model.Name</p>
    </div>
</a>
