@model BMCA.Models.Channel

<div class="mb-3 d-flex justify-content-center align-content-center BMCA_chat">
    <a class="BMCA_btn btn btn-block" href="/Channels/Show/@Model.ID">@Model.Name</a>
</div>
