@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <img src="/favicontest.ico" width="200" height="200" />
</div>
<hr />
<div class="card-body row login">
    <div class="col-md-7 info-login">
        <h5 class="display-4 text-center fw-bold">Welcome to BMCA</h5>
        <p class="text-center">We are happy to have you on our beautiful website. It is the best place for you and your coworkers to comunicate with eachother. What are you waiting for? Join now!</p>
    </div>

    <br />

    <div class="col-md-5 input-login">
        <img class="user_photo" src="/user.png" width="100" height="100" />
        @await Html.PartialAsync("_LoginPartial")
    </div>
</div>
